{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Robb Oat is a robot software engineer.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <h1><a href="/"><img src="{% static 'logo.svg' %}" alt="Robb Oat"></a></h1>

      {% block content %}{% endblock %}

    </div>
  </body>
</html>
