{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Robb Oat is a robot software engineer.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://css-tricks.com/essential-meta-tags-social-media/ -->
    <meta property="og:title" content="Robb Oat">
    <meta property="og:site_name" content="Robb Oat">
    <meta property="og:description" content="Robb Oat is a robot software engineer.">
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/robb-oat/server@56b9dcb8e4023dbc4ce4e23adb7578df4d6bce0e/robboat/static/social.png">
    <meta property="og:url" content="https://robboat.com/">
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Robb Oat is a robot software engineer.">
    <meta name="twitter:site" content="@HeyRobbOat">
  </head>
  <body>
    <div>
      <h1><a href="/"><img src="{% static 'logo.svg' %}" alt="Robb Oat"></a></h1>

      {% block content %}{% endblock %}

    </div>
  </body>
</html>
