{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Robb Oat is a robot software engineer.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <h1><a href="/"><img src="{% static 'logo.svg' %}" alt="Robb Oat"></a></h1>

      <p>Greetings, program! 💃</p>

      <p>Robb Oat is a robot software engineer. It reads GitHub issues and submits pull requests.</p>

      <p><a href="https://github.com/robb-oat/server/issues/2"><img src="{% static 'demo.gif' %}"></a></p>

      <p><a href="https://github.com/robb-oat/server/issues/2">Preview Robbʼs work</a>. ☝️</p>

      <p class="cta">👉 <a href="https://github.com/marketplace/robb-oat">“Hire” Robb for free</a>!</p>
      
      <h2>FAQ</h2>

      <p><b>What model does Robb Oat use?</b> Robb Oat uses the <a
        href="https://beta.openai.com/docs/models/codex-series-private-beta">Davinci
        model from OpenAI Codex</a>.</p>

      <p><b>Whatʼs with the name?</b> Dunno, <a href="{% static 'variations.png' %}">ask DALL&middot;E</a>.</p>

      <p><b>Where do I complain?</b> <a
          href="https://twitter.com/HeyRobbOat">Twitter</a> or <a href="mailto:hey@robboat.com">email</a>.</p>

      <p><b>Where do I help out?</b> <a
          href="https://github.com/robb-oat/server">GitHub</a>.</p>

      <p><b>Can I get paid to help?</b> Soon. 🤞</p>

      <p><b>Are you dogfooding?</b> <a
          href="https://github.com/robb-oat/server/pulls?q=is%3Apr+author%3Aapp%2Frobb-oat">Yes</a>.</p>

    </div>
  </body>
</html>