{% load static %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div>
      <h1><a href="/"><img src="{% static 'logo.svg' %}" alt="Robboat"></a></h1>

      <p>Greetings, program! 💃</p>

      <p>Robboat is a robot software engineer. It reads GitHub issues and submits pull requests.</p>

      <p><img src="{% static 'demo.gif' %}"></p>

      <p><a href="https://github.com/probably-robboat/robboat/pull/4/files">Explore this demo PR.</a> ☝️</p>

      <p class="cta">👉 <a href="javascript: alert('Not quite yet ...')">Install now for $5/mo.</a></p>

      <h2>FAQ</h2>

      <p><b>What model does Robboat use?</b> Robboat uses the <a
        href="https://beta.openai.com/docs/models/codex-series-private-beta">Davinci
        model from OpenAI Codex</a>.</p>

      <p><b>Whatʼs with the name?</b> Dunno, <a href="{% static 'variations.png' %}">ask DALL&middot;E</a>.</p>

      <p><b>Where do I complain?</b> <a
          href="https://twitter.com/ProbablyRobboat">Twitter</a>.</p>

      <p><b>Where do I help out?</b> <a
          href="https://github.com/probably-robboat/robboat">GitHub</a>.</p>

      <p><b>Can I get paid for helping?</b> Soon. 🤞</p>

      <p><b>Are you dogfooding?</b> <a
          href="https://github.com/probably-robboat/robboat/pull/8/files">Yes</a>.</p>

    </div>
  </body>
</html>
