{% extends 'base.html' %}
{% load static %}

{% block content %}

  <p>Greetings, program! 💃</p>

  <p>Robb Oat is a robot software engineer. It reads GitHub issues and submits pull requests.</p>

  <p><a href="https://github.com/robb-oat/server/issues/2"><img src="{% static 'demo.gif' %}"></a></p>

  <p><a href="https://github.com/robb-oat/server/issues/2">Preview Robbʼs work</a>. ☝️</p>
  <p class="cta">👉 <a href="https://github.com/marketplace/robb-oat">“Hire” Robb for free</a>!</p>
  <h4>User Instructions</h4>
  <p>Robb Oat tries to fix every GitHub Issue it understands. <a href="https://github.com/marketplace/robb-oat">Install the app</a> in your repo, then create issues with the form:

  <pre>https://github.com/${org}/${repo}/blob/${sha}/${path}#L0-L10

Change this code in this way.</pre>
  <p>That is <a href="https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-a-permanent-link-to-a-code-snippet">a permanent link to a code snippet</a> followed by a natural language instruction for changing that code snippet (separated by a blank line). Once you create the issue, Robb Oat should open a PR with an attempted fix in less than a minute. Running into trouble? <a href="https://github.com/robb-oat/server/issues/new">Let us know</a>.</p>
  <p>Think of Robb Oat as a very new software engineer. It can complete basic tasks, but even then youʼll often have to modify the PR before being able to land it. Maybe it will improve!</p>

  <h2>FAQ</h2>

  <p><b>Where do I complain?</b> <a
      href="https://twitter.com/HeyRobbOat">Twitter</a> or <a href="mailto:hey@robboat.com">email</a>.</p>

  <p><b>Where do I help out?</b> <a
      href="https://github.com/robb-oat/server">GitHub</a>.</p>

  <p><b>Can I get paid to help?</b> Soon? 🤞</p>

  <p><b>Are you dogfooding?</b> <a
      href="https://github.com/robb-oat/server/pulls?q=is%3Apr+is%3Amerged+author%3Aapp%2Frobb-oat">Yes</a>.</p>

  <p><b>Whatʼs with the name?</b> Dunno, <a href="{% static 'variations.png' %}">ask DALL&middot;E</a>.</p>

  <p><b>What model does Robb Oat use?</b> Robb uses the <a
    href="https://beta.openai.com/docs/models/codex-series-private-beta">Davinci
    model from OpenAI Codex</a>.</p>

  <footer>&copy; 2022 Functional Software, Inc.</footer>

{% endblock %}