* {
  margin: 0;
  padding: 0;
}
body {
  background: #EDEFF3;
}
div {
  max-width: 320pt;
  margin: 0 auto;
  padding: 0 24pt;
}
h1 img {
  display: block;
  width: 80%;
  margin: 36pt auto;
}
h2 {
  margin: 24pt 0 12pt;
}
p {
  padding: 0 0 12pt;
  line-height: 120%;
}
p.cta {
  text-align: right;
  font-weight: bold;
}
p img {
  max-width: 100%;
  border: 1pt solid #141415;
  border-radius: 5pt;
}
pre {
  background: #141415;
  color: #45f542;
  width: 100%;
  overflow: auto;
  margin: 0 0 12pt;
  padding: 6pt;
}
footer {
  border-top: 1pt solid #141415;
  padding: 24pt 0 0;
  margin: 24pt 0;
  text-align: center;
  font-size: 10pt;
}